<h2>OPERACIÓN TRIUNFO 2025</h2>

<div class="content">
  <p class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus sapien
    in augue accumsan, in eleifend nibh pulvinar. Aenean non tortor egestas,
    vehicula mauris sed, semper orci. Nullam ac libero eget quam hendrerit
    vulputate. Vivamus quis purus quis ligula dignissim scelerisque. Praesent
    lacinia, lacus eget aliquam vestibulum, sapien eros pharetra sapien, at
    pharetra purus sem euismod tellus. Orci varius natoque penatibus et magnis
    dis parturient montes, nascetur ridiculus mus. Quisque vitae commodo tellus.
    Curabitur sit amet mattis justo. Pellentesque porttitor semper nisl, ornare
    imperdiet dui cursus id. Nulla facilisi. Morbi vitae condimentum nisl.
    Curabitur pretium dapibus hendrerit. Nunc sodales, velit a iaculis placerat,
    augue lectus euismod ipsum, at feugiat libero lacus vitae lacus. Quisque
    sagittis iaculis sapien eu ullamcorper. Fusce vestibulum, nibh tincidunt
    ullamcorper vehicula, justo ex bibendum tellus, nec pellentesque est sem eu
    lacus. Aenean urna sem, fermentum eget porta ac, cursus ac magna.
    Suspendisse at vulputate erat. Pellentesque ut hendrerit magna. Cras
    ultrices, quam sed facilisis eleifend, quam massa euismod magna, vel mattis
    risus neque eu libero. Donec at maximus nibh. Phasellus convallis elit eu
    urna fermentum, id dapibus lectus tempor. Etiam ac porttitor ligula. Etiam
    est enim, iaculis sed interdum nec, pulvinar in diam. Mauris id eros ut
    dolor pharetra auctor nec vitae mi.
  </p>
  <img
    src="/OT2025.jpg"
    alt="Imagen de Participantes de Operación Triunfo"
    class="image"
  />
</div>

<style>
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .text {
    font-size: 1.125rem;
    text-align: justify;
  }

  .image {
    width: 50%;
    height: 50%;
  }

  /* Modo móvil: Apila los elementos en columna */
  @media (max-width: 1300px) {
    .content {
      flex-direction: column;
      align-items: center;
    }

    .image {
      width: 100%;
    }
  }
</style>
