<h2>OPERACIÓN TRIUNFO 2025</h2>

<div class="content">
  <p class="text">
    <strong>Operación Triunfo 2025</strong> es un programa de televisión español
    de telerrealidad y concurso musical creado por la productora Gestmusic y emitido
    por Televisión Española. El programa se basa en la formación de un grupo de jóvenes
    cantantes que compiten entre sí para convertirse en el ganador del concurso.
    La primera edición se emitió en 2001 y desde entonces ha tenido varias ediciones,
    convirtiéndose en un fenómeno cultural en España. El formato del programa incluye
    una academia donde los concursantes reciben formación musical y vocal, así como
    clases de baile y expresión artística. Durante el programa, los concursantes
    realizan actuaciones en vivo y son evaluados por un jurado compuesto por profesionales
    de la música y la industria del entretenimiento. Además, el público tiene la
    oportunidad de votar por sus concursantes favoritos, lo que influye en el resultado
    de las eliminaciones y la selección del ganador. El ganador del concurso recibe
    un contrato discográfico y la oportunidad de lanzar su carrera musical. A lo
    largo de los años, Operación Triunfo ha lanzado numerosos álbumes y ha catapultado
    a la fama a varios artistas que han participado en el programa, convirtiéndolo
    en una plataforma importante para el descubrimiento de nuevos talentos en la
    música española.
  </p>
  <img
    src="/OT2025.jpg"
    alt="Imagen de Participantes de Operación Triunfo"
    class="image"
  />
</div>

<style>
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .text {
    font-size: 1.125rem;
    text-align: justify;
  }

  .image {
    width: 50%;
    height: 50%;
  }

  /* Modo móvil: Apila los elementos en columna */
  @media (max-width: 1300px) {
    .content {
      flex-direction: column;
      align-items: center;
    }

    .image {
      width: 100%;
    }
  }
</style>
