---
const { userName, userDescription } = Astro.props;
---

<h3 class="card-heading">{userName}</h3>
<p class="card-description">{userDescription}</p>

<style>
  .card-heading {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .card-description {
    font-size: 1.125rem;
    text-align: justify;
    padding: 0 16px;
  }
</style>
