<h2>Resultados</h2>
<div id="results">
  <div id="pieChartContainer">
    <h3>Porcentaje de votos por participante</h3>
    <canvas id="pieChart"></canvas>
  </div>
  <div id="barChartContainer">
    <h3>Total de votos por participante</h3>
    <canvas id="barChart"></canvas>
  </div>
</div>

<style>
  #results {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }

  #results > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }

  #pieChartContainer {
    display: block;
    width: 33%;
    aspect-ratio: 1 / 1;
  }

  #barChartContainer {
    display: block;
    width: 66%;
    aspect-ratio: 2 / 1;
  }

  @media screen and (max-width: 1300px) {
    #results {
      flex-direction: column;
    }

    #results > div {
      width: 60%;
    }

    #pieChartContainer {
      width: 60%;
    }

    #barChartContainer {
      width: 60%;
    }
  }

  @media screen and (max-width: 700px) {
    #results {
      flex-direction: column;
    }

    #results > div {
      width: 100%;
    }

    #pieChartContainer {
      width: 100%;
    }

    #barChartContainer {
      width: 100%;
    }
  }
</style>

<script>
  import { renderCharts } from "../utils/charts.ts";

  renderCharts();
</script>
