<div class="vote-container">
  <h2>Votaciones</h2>
  <p>Escoja a su participante favorito para votar:</p>
  <div class="candidate">
    <div>
      <div class="image-container">
        <button id="prev-button" class="arrow">←</button>
        <img
          id="current-image"
          src="participant1-voting.webp"
          alt="Imagen del participante Pedro Sanchez"
        />
        <button id="next-button" class="arrow">→</button>
      </div>
    </div>
    <div class="features">
      <h2>Características</h2>
      <p>Conozca las características del participante:</p>
      <ul>
        <li>Caracteristica 1</li>
        <li>Caracteristica 2</li>
        <li>Caracteristica 3</li>
        <li>Caracteristica 4</li>
        <li>Caracteristica 5</li>
      </ul>

      <button class="voting-button">Votar</button>
    </div>
  </div>
</div>

<style>
  .vote-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .candidate {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
  }

  .features > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .image-container {
    display: flex;
    align-items: center;
  }

  .arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }

  #current-image {
    width: 200px; /* Adjust the width as needed */
    height: auto;
  }

  .voting-button {
    align-self: center;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
  }

  .actions {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .features {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
</style>

<script>
  import PARTICIPANTS from "../utils/participants";

  let currentIndex = 0;
  const images = PARTICIPANTS.map((participant) => participant.image_voting);
  const names = PARTICIPANTS.map((participant) => participant.name);

  function changeImage(direction: string) {
    if (direction === "prev") {
      currentIndex = (currentIndex - 1 + images.length) % images.length;
    } else if (direction === "next") {
      currentIndex = (currentIndex + 1) % images.length;
    }
    const imageElement = document.getElementById(
      "current-image"
    ) as HTMLImageElement;
    if (imageElement) {
      imageElement.src = images[currentIndex];
      imageElement.alt = "Imagen del participante " + names[currentIndex];
    }
  }

  function vote() {
    createVotedElement();
    addVoteToParticipant();
  }

  function createVotedElement() {
    const voteMessage = document.createElement("div");
    voteMessage.textContent =
      "Se ha votado correctamente al participante " + names[currentIndex];
    voteMessage.style.position = "fixed";
    voteMessage.style.top = "15%";
    voteMessage.style.left = "50%";
    voteMessage.style.transform = "translate(-50%, -15%)";
    voteMessage.style.backgroundColor = "rgba(0, 128, 0, 0.8)"; // Green background with some transparency
    voteMessage.style.color = "black";
    voteMessage.style.padding = "1rem";
    voteMessage.style.borderRadius = "8px";
    voteMessage.style.zIndex = "1000";
    document.body.appendChild(voteMessage);

    setTimeout(() => {
      document.body.removeChild(voteMessage);
    }, 3000);
  }

  function addVoteToParticipant() {
    const participantKey = names[currentIndex] + "'s Votes";
    const previousVotes = localStorage.getItem(participantKey);
    const newVotes = previousVotes ? parseInt(previousVotes) + 1 : 1;
    localStorage.setItem(participantKey, newVotes.toString());
  }

  document
    .getElementById("prev-button")
    ?.addEventListener("click", () => changeImage("prev"));
  document
    .getElementById("next-button")
    ?.addEventListener("click", () => changeImage("next"));

  document.querySelector(".voting-button")?.addEventListener("click", vote);
</script>
